@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #2bd0a1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
}

.outputbox {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(53, 51, 51) 1px;
    color: black;
    border-radius: 5px;
    width: 98%;
    height: 65%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
}

#btn {
    background-color: #f40606;
    border: solid rgb(53, 51, 51) 1px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
}


input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #3e11d2;
    color: white;
    border: solid rgb(53, 51, 51) 1px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
}

input:active[type=button] {
    background: #2bd0a1;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    
}